/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

:root{
    --color-base: #31a2ce;
    --color-dark: #1b1d2e;
    --color-light: #f5f0f1;
}

@font-face {
    font-family: 'Righteous';
    src: url('../assets/fonts/Righteous/Righteous-Regular.ttf');
}

@font-face {
    font-family: 'Merriweather Regular';
    src: url('../assets/fonts/Merriweather/Merriweather-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}

html{
    font-size: 18px;
}

body {
    height: 100vh;

    background-color: var(--color-light);
    color: var(--color-dark);

    font-family: 'Roboto Regular';

}


nav {
    background-color: var(--color-base);
    color: (--color-light);
}

p {
    line-height: 1.6;
}

h1 {
    display: flex;
    align-items: center;

    font-size: 1.8em;
    font-family: 'Merriweather Regular';
    line-height: 1.3;
    height: 60px;
}

header h2 {
    font-size: 1.8em;
    font-family: 'Merriweather Regular';
}

section h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

hr {
    /* color: var(--color-base); */
    border: 2px solid var(--color-base);
    width: 300px;
    border-radius: 999999px;
}


footer a {
    color: inherit;
    text-decoration: none;
    margin-left: 5px;
}

footer a:hover{
    color: var(--color-light);

}

/******************************************
/* LAYOUT
/*******************************************/

/* body * {
    border: 1px solid red;
} */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section {
    max-width: 1000px;
}

/* nav > ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > ul > li {
    padding: 10px;
} */

header {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    height: 850px;

    background-color: var(--color-base);
}

header h1{
    background-color: var(--color-dark);
    color: var(--color-light);
    justify-content: center;
}

.header-image {
    background-image: url('../assets/child-g36d3e16e3_1920.jpg');
    height: 600px;
    width: 100%;
    background-size: cover;
}

.header-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header-desc {
    align-self: center;

    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    justify-content: center;

    color: var(--color-light);

    width: 400px;
    height: 100%;
    padding: 20px;
}

.header-desc > * {
    padding: 30px;
}

.header-number span {
    padding: 5px 10px;

    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 9999px;
}

section {
    padding: 20px;
    margin-bottom: 50px;
}

.about {
    display: flex;
}

.about-image {
    display: none;
    background-image: url('../assets/pexels-fauxels-3183197.jpg');
    width: 50%;
    background-size: cover;
    border-radius: 10px;
}

.about-desc > div {
    
    background-color: #dde4e6;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

.about p {
    padding: 20px;
}


.services > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    background-color: #dde4e6;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    max-width: 300px;
    min-height: 300px;
}

.service > * {
    padding: 10px;
}

.service h3 {
    font-size: 1.4em;
}

.service svg {
    height: 100px;
}

.service p {
    text-align: center;
}

.contact {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.contact > div {
    margin: 30px;
}

.contact svg {
    height: 30px;
}


.contact-number {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    margin-top: 30px;
}

.contact-location {
    padding-top: 20px;

    display: flex;
}

.contact h4 {
    text-align: center;
    font-size: 1.6em;
    padding: 10px;
}

.contact table {
    color: gray;
}

.contact tr {
    border-top: 1px solid lightgray;
}

.contact td {
    padding: 10px;
}



footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-dark);
    color: #ada8a9;
    height: 25px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (min-width: 800px) {

    header {
        height: 600px;
    }

    .header-container {
        flex-direction: row-reverse;
        justify-self: center;
    }

    .header-desc {
        width: 500px;
    }

    .header-image {
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    .about-desc {
        width: 50%;
    }

    .about-image {
        display: inline;
    }
}

@media screen and (min-width: 1000px) {

    .header-container {
        justify-content: center;
        align-items: center;
    }

    .header-desc {
        width: 300px;
    }

    .header-image {
        width: 800px;
        margin-right: 20px;
    }
}